<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/aop
     	http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- Core services -->
	<bean id="propertyService" class="com.iv.rms.core.impl.PropertyServiceImpl" autowire="byName" init-method="initService" />
	<bean id="mailService" class="com.iv.rms.mail.MailServiceImpl" autowire="byType" init-method="initService" />
	<bean id="propertyDAO" class="com.iv.rms.core.impl.PropertyJDODAOImpl" />
	<bean id="filePropertyDAO" class="com.iv.rms.core.impl.PropertyFileDAOImpl" />
	<!-- End of core services -->
	
	<bean id="serviceLocator" class="com.iv.rms.core.impl.ServiceLocatorImpl" autowire="byType" />
	<bean id="notificationService" class="com.iv.rms.notification.NotificationServiceImpl" autowire="byType" init-method="initService" />
	<bean id="contactService" class="com.iv.rms.contact.ContactServiceImpl" autowire="byType" init-method="initService" />
	<bean id="userService" class="com.iv.rms.user.GAEUserServiceImpl" autowire="byType" init-method="initService" />
	
	<bean id="ownerDAO" class="com.iv.rms.user.OwnerDAOJDOImpl" />
	<bean id="notificationDAO" class="com.iv.rms.notification.NotificationDAOJDOImpl" />
	<bean id="contactDAO" class="com.iv.rms.contact.ContactJDODAOImpl" />
	<bean id="tempNotificationDAO" class="com.iv.rms.notification.TempNotificationDAOJDOImpl" />

	<bean id="jdoHandler" class="com.iv.rms.core.persistence.jdo.JDOOperation" />

	<aop:config>
		<aop:aspect ref="jdoHandler">
			<aop:pointcut id="notification" expression="execution(* com.iv.rms.notification.NotificationDAOJDOImpl.*(..))" />
			<aop:pointcut id="owner" expression="execution(* com.iv.rms.user.OwnerDAOJDOImpl.*(..))" />
			<aop:pointcut id="property" expression="execution(* com.iv.rms.core.impl.PropertyJDODAOImpl.*(..))" />
			<aop:pointcut id="contact" expression="execution(* com.iv.rms.contact.ContactJDODAOImpl.*(..))" />
			<aop:pointcut id="tempNotification" expression="execution(* com.iv.rms.notification.TempNotificationDAOJDOImpl.*(..))" />
			<aop:around pointcut-ref="notification" method="perform" />
			<aop:around pointcut-ref="owner" method="perform" />
			<aop:around pointcut-ref="property" method="perform" />
			<aop:around pointcut-ref="contact" method="perform" />
			<aop:around pointcut-ref="tempNotification" method="perform" />
		</aop:aspect>
	</aop:config>

</beans>
