<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<listener>
		<listener-class>com.iv.rms.core.server.ApplicationInit</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<filter>
		<display-name>PreparePageFilter</display-name>
		<filter-name>PreparePageFilter</filter-name>
		<filter-class>com.iv.rms.core.server.filters.PreparePageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PreparePageFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<!-- Servlets -->
	<servlet>
		<servlet-name>processNotifications</servlet-name>
		<servlet-class>com.iv.rms.notification.server.ProcessNotificationJobs</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>notification</servlet-name>
		<servlet-class>com.iv.rms.notification.server.NotificationServiceServletAdapterImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>contact</servlet-name>
		<servlet-class>com.iv.rms.contact.server.ContactServiceServletAdapterImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>chat</servlet-name>
		<servlet-class>com.iv.rms.chat.ChatTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loginOpenId</servlet-name>
		<servlet-class>com.iv.rms.openid.OpenIdLoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>com.iv.rms.core.server.TestServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>postpone</servlet-name>
		<servlet-class>com.iv.rms.notification.PostponeNotificationServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value />
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>notification</servlet-name>
		<url-pattern>/rms/notification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>contact</servlet-name>
		<url-pattern>/contact/contact</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>processNotifications</servlet-name>
		<url-pattern>/processNotifications</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>chat</servlet-name>
		<url-pattern>/chat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginOpenId</servlet-name>
		<url-pattern>/loginOpenId</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>postpone</servlet-name>
		<url-pattern>/postpone</url-pattern>
	</servlet-mapping>
	
	 <!-- Processes application requests -->
    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/springapp-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
	
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
</web-app>